_minted-thesis/
config.json
*.lot
*.pyg
*.bbl
*.blg
*.aux
*.out
*.lof
*.toc
*.logged
.logged
*.swp
.swp
*.log
*.stderr
*.stdout
data/
*.idx
*.ilg
*.ind
.RData
.Rhistory
thesis.pdf
.~lock.*
_minted-thesis/
viva_report
.DS_Store
